<div class="header clearfix">
  <nav>
      <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li role="presentation"><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li role="presentation"><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
      <li role="presentation"><a routerLink="/testimonials" routerLinkActive="active">Testimonials</a></li>
      <li role="presentation"><a routerLink="/Materials" routerLinkActive="active">Materials</a></li>
      <li role="presentation"><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li role="presentation"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">Select Excavation and Landscaping</h3>
</div>
